DataBase/Data Collections and Integration/Instructor/instructor.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Instructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Instruct">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Ins_id" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Ins_name" type="xs:string" />
              <xs:element minOccurs="0" name="Dept_id" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>